body {
  font-size: 18px;
  line-height: 1.5;
}

header,
nav,
main,
footer {
  margin: 1.25rem auto;
  max-width: 760px;
}

header,
footer {
  border-radius: 20px 20px 20px 20px;
  font-family: "Montserrat";
  background-color: #3D3D3D;
  color: white;
  text-align: center;
  padding: 1.5rem;
}

header {
  padding: 1.5rem;
  line-height: 1.6em;
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.intro-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.family-pic {
    border-radius: 20px 20px 20px 20px;
}