body {
  font-size: 18px;
  line-height: 1.5;
}

header,
nav,
main,
footer {
  margin: 1.25rem auto;
  max-width: 760px;
}

header,
footer {
  border-radius: 20px 20px 20px 20px;
  background-color: #3d3d3d;
  color: white;
  text-align: center;
  padding: 1.5rem;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.intro-banner-heading {
  justify-items: center;
}

.family-pic {
  border-radius: 20px 20px 20px 20px;
  grid-column: 1 / 2;
}

.body-of-index {
  font-family: 'Didact Gothic', 'Montserrat', sans-serif; 
}
