@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block;
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}

	.footer-seperation {
		display: grid;
		grid: 1fr / 1fr 1fr ;
		align-items: center;
	  }

	  .footer-info, .footer-info-two {
		  display: inline;
		  padding-bottom: 5px;
	  }

}