@media only screen and (min-width: 32.5em) {
	main {
		display: grid;
	}
  .navigation {
    display: flex;
  }
  .navigation li {
    display: block;
    flex: 1 1 auto;
  }
  .navigation a {
    text-align: center;
  }
  .navigation li:first-child {
    display: none;
  }

  .footer-seperation {
    display: grid;
    grid: 1fr / 1fr 1fr;
    align-items: center;
  }

  .footer-info,
  .footer-info-two {
    display: inline;
    padding-bottom: 5px;
  }
  .services-main {
    grid-template-columns: 1fr 1fr;
  }
  h2 {
    grid-column: 1/3;
  }
  .card-view {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
  }
  .callToAction {
    grid-column: 1/4;
      }
  .reception-image,
  .missionary-image {
    grid-column: 1 / 2;
  }

  .spotlights {
    grid-column: 1/4;
    display: flex;
    justify-content: space-around;
  }

  .spotlight {
    margin: 10px;
  }

  .spotlight img {
    width: 11em;
  }

  .join-form {
    grid-column: 2/3;
    grid-row: 1/4;
  }

  form textarea {
    width: 103%;
  }
  .reservation-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .reservation-heading {
    grid-row: 1/2;
    grid-row: 1/2;
  }
  .contact-info {
    grid-column: 1/2;
    grid-row: 2/3;
    height: fit-content;
    margin: 2em;
    margin-top: auto;
  }
  .join-form {
    grid-column: 2/3;
    grid-row: 2/4;
  }
  .extra-info {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .family {
    display: block;
  }
  .home-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
  }
  .sunset {
    display: block;
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 2em;
    align-self: top;
    height: fit-content;
  }
}
